/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0;	padding: 0;	border: 0;	font-size: 100%; font: inherit;	vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table {	border-collapse: collapse; border-spacing: 0; }
/***** END RESET *****/

h1,h2,h3{font-family: 'Montserrat', sans-serif;}

body{
    background: url('https://previews.dropbox.com/p/thumb/AAQdYg4MceVc209732gI9yrRiVubDe0w90Mei_qaKobAKtuuvOfpBz3ZPergRhxIF6rqoT44Ic2MPQy59fKTG7Sw1_ZJDmJqpYqod-PCzvDwCzFlknWe2GOvWzXlCtNtuJNflmwAFFE4FtNeG_34QYtVHBQC7S2GJr3BvbkZX9oiMc1Bg08cDbpUb-8kdztufVBKNmg_ZIq1R9cJX7dvW1dFnAV5Eey6J2UMHXw6S-Ymkzfbm6vU-htXGCRPRWshz48/p.png?size=1600x1200&size_mode=3') no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0);
}

.container{
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template: repeat(3,auto) / 1fr;
    margin: 150px auto 0;
}

#header{
    padding: 50px;
    text-align: center;
    position: fixed;
    top: 0;
    z-index:999;
}

.header-items{
    width:768px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav{display: none;}

.darkbg{background-color:#000000d4;}

#header-img{
    margin-bottom: 30px;
}

#start{
    padding: 0 50px;
    color: white;
    text-align: center;
}

#start h2{
    font-size: 2em;
    font-weight: 900;
    letter-spacing: -0.8px;
}

#start p{
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: -0.5px;
    margin: 10px 0 30px 0;
}

#email{
    width: 214px;
    height: 35px;
    border-radius: 5px;
    border: 0 none;
    padding-left: 5px;
    font-size: 0.8em;
    color: #a5a5a5;    
}

#submit{
    font-family: "Montserrat", arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 400;
    background: #30beac;
    color: #fff;
}

#phone_image{
    background: url('https://previews.dropbox.com/p/thumb/AAR5wQWWJ0arKrgcCd9SsAI5MxDxRQ2orASAyoVkcQqQGNEYeol5Z2yM60yvoHBp2QneJQDsSmDawAFQXFrvJIlQPBGAxfmkAGr2aDtOkF03HHN48PLRSVHrzfzzoChxlfIvk405LT98zGAk79DPcgyBgsbz0zGiaN_wP0Oelqa_GOhaBP5IBdFjbDnoiGtxGN0s9wnHvCO5oStOAzAXXsMsv9esoVmgC6-CD1ads4l1O9giSQlb8mynXN0II8knQmE/p.png?size=1600x1200&size_mode=3') center top no-repeat;
    background-size: 256px;
    height: 350px;
    margin-top: 25px;
}

#features{
    
    background: #fafafa;
    
}

.features-wrap{
    display: grid;
    text-align: center;
    padding: 50px;
    grid-template: repeat(5,auto) / 1fr;
    justify-items: center;
}

#features h2{
    font-size: 2em;
    font-weight: 900;
    letter-spacing: -0.8px;
    margin-bottom: 10px;
}

#features p{
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #6a6a6a;
    margin-bottom: 30px;
}

.feature{
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
    width: 50%;
    box-shadow: 1px 1px 1px 2px #0000001a;
}

.feature h3{
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.feature p{
    color: #919191;
    font-weight: 400;
    font-size: 16px;
}

.feature i{
    margin-bottom: 30px;
    color: #30beac;
}

footer{
    color: #fff;
    background: #3b3d40;
    text-align: center;
    font-weight: lighter;
    font-size: 0.5em;
    padding: 30px 0;
}

@media only screen and (min-width: 768px){

    #header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }

    #header img{
        margin: 0;
    }

    nav{
        display: flex;
        width: 350px;
        justify-content: space-between;
    }

    nav a{
        text-decoration: none;
        color: #fff;
        font-weight: lighter;
        font-family: Montserrat;
        text-transform: uppercase;
        font-size: 0.85em;
        letter-spacing: 4px;
    }

    #start{
        display: grid;
        text-align: left;
        grid-template: repeat(3,1fr)/repeat(2,1fr);
        grid-template-areas: 
            "h i"
            "p i"
            "f i";
        margin: 0 auto;
        width: 668px;
    }

    #start h2{
        grid-area: h;
    }

    #start p{
        grid-area: p;
    }

    #form{
        grid-area: f;
    }

    #phone_image{
        grid-area: i;
    }

    #features h2{
        grid-column: 1/-1;
    }

    #features p{
        grid-column: 1/-1;
        padding: 0 20px;
        line-height: 25px;
        font-size: 16px;
    }

    .features-wrap{
        display: grid;
        grid-template: repeat(3,auto)/repeat(4,1fr);
        justify-items: center;
        width: 668px;
        margin: 0 auto;
    }

    .feature{
        padding: 20px 10px;
        width: 80%;
    }

    .feature p{
        margin: 0;
        font-size: 14px !important;
        margin: 0 !important;
    }

    footer{
        font-size: 16px;
    }
}